:root {
    --color-unchecked: #303061;
    --border-color: #000000;
    --track-unchecked: #e2e2ea;
    --border-width-md: 0.063rem;
    --color-checked: #c6ee16;
    --track-checked: #bd31bd;
    --color-unchecked: #303061;
    --color-checked-hover: #b5db14;
    --color-unchecked-hover: #26264d;
    --outline-color-focused: #585858;
    --border-width-lg: 0.125rem;
    --color-unchecked-disabled: #a3a3c2;
    --color-checked-disabled: #d4d4e6;
    --track-color: #b8b8c2;
}